@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #4DAF98;
    color: #FFF;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.header ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

.linksLeft, .linksRight {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
    font-weight: 300;
}

.logo {
    margin-right: -20px;
    cursor: pointer;
}

.logo a {
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
}

.logo-separator {
    border: 1px solid #FFF;
    transform: rotate(90deg);
    height: 0px;
    width: 69px;
    margin-right: -20px;
}

.profile-image {
    background-color: #fff;
    color: #757575;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.profile-image .profile-initials {
    font-weight: 800;
    text-align: center;
    margin-top: 15px;
}

.profile-tick {
    margin-top: 10px;
}

.profile-tick a {
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
}

/* Navigation Hover Effects */

.header ul li a:hover {
    transition: 0.2s ease-in;
    color: rgba(255, 255, 255, 0.534);
}

.header .profile-tick a:hover {
    transition: 0.2s ease-in;
    color: rgba(255, 255, 255, 0.534);
}

.active-nav {
    border-bottom: 3px solid #FFF;
}

/* Main Content */

.main {
    display: flex;
    flex: 1;
}

/* Sidebar Navigation */

.sidebar {
    width: 250px;
    background-color: #fff;
    flex-shrink: 0;
    padding: 16px;
    border-right: 3px solid hsla(0, 0%, 42%, 0.4);
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1;
}

.sidebar-content {
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 16px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 16px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    display: block;
    transition: 0.3s;
}

.sidebar-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

#sidebar-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
    transition: 0.3s ease;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.active-course {
    font-weight: 800;
}

.container {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
}

/* Main Content */

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    border: 3px solid hsla(0, 0%, 42%, 0.4);
    border-radius: 12px;
}

/* Heading Underline */

.content .heading {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.content .heading span {
    position: relative;
    padding-bottom: 10px;
}

.content .heading span::after {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 1px;
    border-bottom: 6px solid #4DAF98;
    content: "";
}

.content p {
    padding-top: 20px;
}

/* Student Portal Grid Content */

.content-grid {
    display: flex;
    padding: 2em;
    margin-top: 5em;
    gap: 69px;
    justify-content: space-around;
}

.left-content, .right-content {
    font-size: 24px;
    font-weight: 700;
}

/* Left Content */

.left-content {
    display: flex;
}

.container-student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(134, 134, 134, 0.5);;
    border-radius: 16px;
    padding: 1.5rem 5em;
}

.container-student .title-underline {
    text-align: center;
}

.container-student .title-underline span {
    position: relative;
    padding-bottom: 10px;
}

.container-student .title-underline span::after {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 1px;
    border-bottom: 6px solid #4DAF98;
    content: "";
}

.container-student .profile-shape {
    width: 222px;
    height: 222px;
    margin-top: 50px;
    background-color: #4DAF98;
    border-radius: 50%;
}

.container-student .student-information {
    font-weight: 400;
    text-align: center;
}

.container-student .student-information h3 {
    padding: 0;
    margin: 15px 0 0 0 ;
}

.container-student .student-information p {
    padding: 0;
    margin: 0;
}

/* Right Content */

.right-content {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

/* Course Information */

.container-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(134, 134, 134, 0.5);;
    border-radius: 16px;
    padding: 1.5rem 1.5rem;
}

.container-course .title-underline {
    align-self: baseline;
}

.container-course .title-underline span {
    position: relative;
    padding-bottom: 10px;
}

.container-course .title-underline span::after {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 1px;
    border-bottom: 6px solid #4DAF98;
    content: "";
}

.container-course .course-information {
    padding: 1.5rem 0 0 0;
    font-weight: 400;
    font-size: 20px;
}

.container-course .course-information ul {
    padding: 0;
    padding-left: 1.5em;
    list-style: none;
}


.container-course .course-information li {
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}

.container-course .course-information li::before {
    content: "\00b7";
    color: #28856F;
    font-weight: bold;
    font-size: 20px;
    margin-left: -1em;
    margin-right: 10px;
}

.container-course .course-information a {
    text-decoration: none;
    color: #000;
}


/* Reports Information */

.container-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid rgba(134, 134, 134, 0.5);;
    border-radius: 16px;
    padding: 1.5rem 1.5rem;
}

.container-report .title-underline {
    align-self: baseline;
}

.container-report .title-underline span {
    position: relative;
    padding-bottom: 10px;
}

.container-report .title-underline span::after {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 1px;
    border-bottom: 6px solid #4DAF98;
    content: "";
}

.container-report .report-information {
    padding: 1.5rem 0 0 0;
    font-weight: 400;
    font-size: 20px;
}

.container-report .report-information ul {
    padding: 0;
    padding-left: 1.5em;
    list-style: none;
}


.container-report .report-information li {
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}

.container-report .report-information li::before {
    content: "\00b7";
    color: #28856F;
    font-weight: bold;
    font-size: 20px;
    margin-left: -1em;
    margin-right: 10px;
}

.container-report .report-information a {
    text-decoration: none;
    color: #000;
}

/* Main Content Hover Effects */
#sidebar-icon:hover {
    background-color: #757575;
}